phantomjs_cdnurl=http://10.9.20.82:4536/repository/npm.taobao.org/mirrors/phantomjs
sass_binary_site=http://10.9.20.82:4536/repository/npm.taobao.org/mirrors/node-sass
disturl=http://10.9.20.82:4536/repository/npm.taobao.org/mirrors/node
chromedriver_cdnurl=http://10.9.20.82:4536/repository/npm.taobao.org/mirrors/chromedriver
SQLITE3_BINARY_SITE=http://10.9.20.82:4536/repository/npm.taobao.org/mirrors/sqlite3
profiler_binary_host_mirror=http://10.9.20.82:4536/repository/npm.taobao.org/mirrors/node-inspector

registry=http://10.9.20.82:4536/repository/npm/