/* Common vars for rb-layout */
$page-header-height: 58px;
$page-tab-height: 40px;
$page-header-background-color: #F1F1F1;
$page-header-background-border-color: #cfcfcf;
$page-background-color: #F1F1F1;
// if removes the default child padding 2px, please change the value back to "16 20 0"
$page-container-padding: 14px 18px 40px;
$nav-list-width: 172px;
$nav-background-color-main: #2a2f35;
$nav-background-color-secondary: #292C31;
$nav-item-icon-width: 50px;
$nav-animation-duration: 0.3s;
$nav-animation-duration-faster: 0.2s;
$nav-title-color: #fff;

$breadcrumb-height: 48px;
// color
$blue: #46BAFE;
