.confirm-add-new-user {
  width:89px;
  height:34px;
  background:#46BAFE;
  border-radius: 3px;
  font-size:14px;
  line-height: 0px;
  padding: 12px 20px 12px 20px;
}

.cancle-commit {
  width:60px;
  height:34px;
  background:#FFFFFF;
  border-radius: 3px;
  line-height: 0px;
  padding: 0px;
}
